.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 23px;
    border: 5px solid #274b27;
    font-size:34px;
    height: 65px;
    width: 456px;
    text-align: right;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #b47cf3;
    width: 102px;
    height: 78px;
    margin: 8px;
}

.calculator{ 
    border: 4px solid #13695d;
    background-color: #99c2ff;
    padding: 20px;
    border-radius: 53px;
    display: inline-block;
    
}

h1{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
